{% extends 'base.html.twig' %}

{% block title %}Marmidouille{% endblock %}

{% block main %}
<section class="home-page">
    <h1>Hello</h1>
    <p>Bienvenue sur Marmidouille! Le site de recettes qui donnent mal au ventre.</p>
</section>
{% endblock %}