{% extends 'admin-base.html.twig' %}

{% block title %}Modifier une recette{% endblock %}

{% block main %}
<h1>Modifier une recette</h1>

{% include "components/form-recipe.html.twig" %}

{% endblock %}